{% extends 'admin/admin_base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin_package.css' %}">

<div class="detail-wrapper">
    <div class="detail-card">

        {% if addon.image %}
        <div class="detail-image-container">
            <img src="{{ addon.image.url }}" class="detail-image">
        </div>
        {% endif %}

        <div class="detail-title-price">
            <h2 class="detail-title">{{ addon.name }}</h2>
            <p class="detail-price">₱{{ addon.price }}</p>
        </div>

        <div class="detail-section">
            <h4>Features</h4>
            <ul class="detail-list">
                {% for feature in addon.feature_list %}
                    <li>{{ feature }}</li>
                {% endfor %}
            </ul>
        </div>

        
        <div class="detail-divider"></div>


        {% if addon.solo_price %}
        <div class="detail-section detail-solo-price">
            <p>Solo Price</p>
            <p>₱{{ addon.solo_price }}</p>
        </div>
        {% endif %}


        <div class="action-buttons detail-buttons">
            <a href="{% url 'admin_package_list' %}" class="btn-view detail">Back</a>
            <a href="{% url 'admin_addon_edit' addon.id %}" class="btn-edit detail">Edit</a>
            <a href="{% url 'admin_addon_delete' addon.id %}" class="btn-delete detail"
                onclick="return confirm('Delete this add-ons?')">Delete</a>
        </div>

    </div>
</div>

{% endblock %}





<!--

<h2>Add-On Detail</h2>

<h3><strong>Name:</strong>{{ addon.name }}</h3>

{% if addon.image %}
    <img src="{{ addon.image.url }}" width="200px">
{% endif %}

<p><strong>Price:</strong> ₱{{ addon.price }}</p>

<ul>
    {% for feature in addon.feature_list %}
        <li>{{ feature }}</li>
    {% endfor %}
</ul>

{% if addon.solo_price %}
<p><strong>Solo Price:</strong> ₱{{ addon.solo_price }}</p>
{% endif %}

<a href="{% url 'admin_package_list' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'admin_package_edit' addon.id %}" class="btn btn-sm btn-warning">Edit</a>
<a href="{% url 'admin_package_delete' addon.id %}" class="btn btn-sm btn-danger">Delete</a>

-->
