django
pillow
requests
python-dotenv
openai
pydantic
httpx
asgiref
sqlparse
tzdata
whitenoise
gunicorn
django-cloudinary-storage
dj-database-url
psycopg2-binary
cloudinary
openpyxl
reportlab==3.6.12
xhtml2pdf==0.2.8